.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "following profiledetail gamesfollowing";
  margin: 10px;
}

.detailsFollowing {
  display: flex;
}

.detailsProfileDetail {
  color: white;
}

.detailsGamesFollowing {
  color: black;
}
