#navbar {
	position: fixed;
	width: 100%;
	color: red;
	background: rgb(19, 18, 18);
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	grid-template-areas: "nav search login";
	top: 0;
	left: 0;
	z-index: 99;
	font-size: 25px;
}

#navitems {
	grid-area: nav;
	display: flex;
	align-items: center;
	z-index: 100;
}

.navitems {
	color: rgb(17, 88, 136);
}

.mainMenuBar:hover {
	color: rgb(17, 88, 136);
}

#mainsearch {
	grid-area: search;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.login {
	grid-area: login;
	text-align: right;
	width: 100%;
}

.signedInMenu {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	justify-content: flex-end;
	align-items: center;
	color: white;
	padding-right: 10px;
	position: relative;
}

.modalContainer {
	width: 100%;
	height: 100vh;
	background: rgba(24, 23, 23, 0.719);
	position: fixed;
	left: 0;
	opacity: 0;
	transition: all 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}

.loginModal {
	position: absolute;
	background: white;
	width: 500px;
	height: 200px;
	margin: auto;
	transform: scale(0);
	text-align: center;
	transition: all 300ms;
	display: grid;
	grid-template-rows: 4fr 1fr 1fr;
	justify-content: center;
	background: rgb(19, 18, 18);
	border: 2px solid rgb(126, 117, 117);
}

.loginClose {
	position: absolute;
	right: 0;
	color: white;
	margin: 5px;
}

.loginClose:hover {
	color: red;
}

.loginField {
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 400px;
	height: 100px;
}

.inputFields {
	color: white;
	background: transparent;
	width: 100%;
	border: none;
	outline: none;
	font-size: 15px;
	border-bottom: solid rgb(143, 136, 136);
}

.inputFields:focus {
	border-bottom: solid white;
}

button {
	color: white;
	background: rgb(19, 18, 18);
	border: none;
	padding: 15px;
	outline: none;
}

button:hover {
	color: rgb(53, 135, 190);
}

button:active {
	background: rgb(36, 34, 34);
}

.searchBar {
	background: rgba(82, 75, 75, 0.644);
	height: 50%;
	width: 50%;
	outline-color: none;
	border: none;
	color: white;
	padding: 10px;
	margin: auto;
	transition: all 400ms;
}

.searchBar:hover {
	-webkit-box-shadow: 1px 4px 26px 0px rgba(201, 28, 28, 0.884);
	-moz-box-shadow: 1px 4px 26px 0px rgba(201, 28, 28, 0.884);
	box-shadow: 1px 3px 26px 0px rgba(179, 167, 167, 0.884);
}

.searchBar:focus {
	outline: 1px solid rgb(17, 88, 136);
}

.mainMenuBar {
	color: white;
	align-items: center;
	margin-left: 15px;
}

.sidebarContainer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	visibility: hidden;
	transition: all 300ms;
	z-index: 100;
}

.sidebar {
	position: fixed;
	width: 0;
	max-width: 300px;
	height: 100%;
	background: rgb(37, 36, 36);
	transition: all 400ms;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(auto-fill, 50px);
	font-size: 20px;
	box-shadow: 2px 2px 10px 2px rgba(78, 77, 77, 0.507);
	align-items: center;
	padding-top: 15px;
	overflow: hidden;
}

.sidebarItems {
	width: 100%;
	display: grid;
	grid-template-columns: 40px 40px;
	color: white;
	padding-left: 10px;
	align-items: center;
	height: 100%;
	text-decoration: none;
	cursor: pointer;
}

.sidebarItems:hover {
	background: rgb(78, 74, 74);
}

.section {
	border-top: 1px solid rgb(119, 110, 110);
	border-bottom: 1px solid rgb(119, 110, 110);
	padding: 10px;
	text-align: center;
	color: rgb(94, 87, 87);
	font-size: 30px;
}

.sidebarClose {
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	font-size: 20px;
}

.sidebarClose:hover {
	color: red;
}

@media screen and (max-width: 974px) {
	.navText {
		display: none;
	}

	#navbar {
		grid-template-columns: 1fr 6fr 1fr;
	}
}

@media screen and (max-width: 521px) {
	.loginModal {
		width: 100%;
	}
}
